<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/drugaddiction</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <mapping class="com.voidmain.pojo.Client" resource="com/voidmain/pojo/Client.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Counselor" resource="com/voidmain/pojo/Counselor.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Login" resource="com/voidmain/pojo/Login.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Message" resource="com/voidmain/pojo/Message.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Review" resource="com/voidmain/pojo/Review.hbm.xml"/>
  <mapping class="com.voidmain.pojo.Schedule" resource="com/voidmain/pojo/Schedule.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
